h1, p {
  text-align: center;
}

h3 {
  text-align: center;
  margin-left: 50px;
}

.chart-container {
  height: 400px;
  width: 400px;
  margin-left: 550px;
}

.college-acceptance-chart, .math-and-reading-proficiency-chart, .scholarships-chart, .financial-aid-chart{
  height: 600px;
  width: 600px;
  margin-left: 437px;
  margin-bottom: -250px;
}

img {
  margin-left: 458px;
}
