h1 {
  text-align: center;
}

p {
  text-align: left justify;
  margin-left: 29rem;
  padding-right: 28rem;
}

h3 {
  text-align: center;
  margin-left: 3.125rem;
}

.chart-container {
  height: 31.25rem;
  width: 31.25rem;
  margin-left: 31.25rem;
}

.college-acceptance-chart, .math-and-reading-proficiency-chart, .scholarships-chart, .financial-aid-chart{
  height: 37.5rem;
  width: 37.5rem;
  margin-left: 27.3125rem;
  margin-bottom: -15.625rem;
}

img {
  margin-left: 28.625rem;
}

.closing-pitch {
  margin-bottom: 12rem;
}

app-footer {
  text-align: center;
}

@media only screen and (max-width: 31.25em) {
  h1 {
    font-size: 1.25rem;
  }

  p {
    margin-left: 0rem;
    font-size: 0.75rem;
    padding-right: 0rem;
  }

  .chart-container {
    height: 18rem;
    width: 18rem;
    margin-left: 2rem;
  }

  .college-acceptance-chart, .math-and-reading-proficiency-chart, .scholarships-chart, .financial-aid-chart{
    height: 21.875rem;
    width: 21.875rem;
    margin-left: 0rem;
    margin-bottom: -5.625rem;
  }

  img {
    margin-left: 3rem;
    max-width: 75%;
  }
}

@media only screen and (min-width: 31.25em) and (max-width: 43.75em) {
  h1 {
    font-size: 1.5rem;
  }

  p {
    margin-left: 4.375rem;
    font-size: 1rem;
    padding-right: 4.375rem;
  }

  .chart-container {
    height: 19rem;
    width: 19rem;
    margin-left: 6rem;
  }

  .college-acceptance-chart, .math-and-reading-proficiency-chart, .scholarships-chart, .financial-aid-chart{
    height: 24rem;
    width: 24rem;
    margin-left: 4rem;
    margin-bottom: -7.625rem;
  }

  img {
    margin-left: 4rem;
    max-width: 75%;
  }
}

@media only screen and (min-width: 43.75em) and (max-width: 56.25em) {
  h1 {
    font-size: 2rem;
  }

  p {
    margin-left: 7rem;
    font-size: 1.25rem;
    padding-right: 7rem;
  }

  .chart-container {
    height: 29rem;
    width: 29rem;
    margin-left: 8rem;
  }

  .college-acceptance-chart, .math-and-reading-proficiency-chart, .scholarships-chart, .financial-aid-chart{
    height: 31rem;
    width: 31rem;
    margin-left: 8rem;
    margin-bottom: -10.625rem;
  }

  img {
    margin-left: 6.5625rem;
    max-width: 75%;
  }
}

@media only screen and (min-width: 56.25em) and (max-width: 68.75em) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    margin-left: 10.5rem;
    font-size: 1.5rem;
    padding-right: 10.5rem;
  }

  .chart-container {
    height: 31.25rem;
    width: 31.25rem;
    margin-left: 12.5rem;
  }

  .college-acceptance-chart, .math-and-reading-proficiency-chart, .scholarships-chart, .financial-aid-chart{
    height: 37.5rem;
    width: 37.5rem;
    margin-left: 10rem;
    margin-bottom: -15.625rem;
  }

  img {
    margin-left: 10rem;
  }
}

@media only screen and (min-width: 68.75em) and (max-width: 80em) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    margin-left: 23rem;
    font-size: 1.5rem;
    padding-right: 23rem;
  }

  .chart-container {
    height: 31.25rem;
    width: 31.25rem;
    margin-left: 23rem;
  }

  .college-acceptance-chart, .math-and-reading-proficiency-chart, .scholarships-chart, .financial-aid-chart{
    height: 37.5rem;
    width: 37.5rem;
    margin-left: 20.5rem;
    margin-bottom: -15.625rem;
  }

  img {
    margin-left: 22rem;
  }
}
