<h1>Knight Academy High School</h1>
<img src="highschool.png">
<p>Welcome to Knight Academy High School! Our mission is to educate our students for their future. From math to history our knightly
  scholars help students prepare for college or blossom their talents learning skilled trades so each student can have a successful future.
</p>
<p>Our chivalrous counselors help each student find the best career path that matches their skills. They also establish backup plans in case
  a student's initial career plan falls through. In fact, we have numerous electives and clubs that help students hone their skills from
  computer science and law to programs and activities that teach students valuable trade skills. Below is a graph of the number of students
  who attend Knight Academy High School in the 2023-2024 school year who are going into college, the workforce, the military, and trade
  programs.
</p>
<div class="chart-container">
  <canvas id="StudentTrack">{{ pieChart }}</canvas>
</div>
<p>Knight Academy High School has been around since 1924. In fact, this year marks our 100th year of educating students! Our administration
  meets with colleges around the city to ensure that our curriculum meets college standards. We also meet with businesses every six months to
  update our trade
  programs, so our students are familiar with industry standards. In fact, the students who graduate from our institution have a 75%
  college acceptance rate over most high schools in the nation!
</p>
<div class="college-acceptance-chart">
  <h3>College Acceptance</h3>
  <canvas id="CollegeAcceptance">{{ collegeAcceptanceChart }}</canvas>
</div>
<p>Here at Knight Academy we have strived to enrich the minds of our students. We offer a unique literature course that has expanded beyond
  Western authors, to include authors from the East as well. In fact, we asked our fellow alumni what has helped with their career success
  and most of them stated that reading classic literature and manga improved their working relationships with colleagues from other
  cultures.
</p>
<p>Our math classes use thought-provoking methods and creative teaching styles to help students learn math concepts. This has resulted in
  our students scoring significantly higher in math and reading proficiency compared to students across the country.
</p>
<div class="math-and-reading-proficiency-chart">
  <canvas id="MathAndReadingProficiency">{{ mathAndReadingProficiencyChart }}</canvas>
</div>
<p>Our students have earned scholarships from many colleges and universities including Ivy League colleges. In fact, from 2020-2024 we
  went from having $750,000.00 in scholarship funds to around $10,750,432.89.
</p>
<div class="scholarships-chart">
  <h3>Scholarships</h3>
  <canvas id="Scholarships">{{ scholarshipsChart }}</canvas>
</div>
<p>If you are pondering whether the tuition for this academy is too high, worry not because we have financial aid that is backed by the state
  government, as well as our fellow alumni, who want to help future generations have the same success they had. Below is a chart of how much
  money our alumni have donated each year.
</p>
<div class="financial-aid-chart">
  <h3>Financial Aid</h3>
  <canvas id="FinancialAid">{{ financialAidChart }}</canvas>
</div>
<p>What are you waiting for? Help your children become brilliant scholars of the future today!</p>
